<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="heading">
        <img src="/images/logo.png" alt="" class="logo">
        <h2>Welcome to Traveluru</h2>
    </div>
    
    <div class="container">
        <a href="/history" type="button">Past Orders</a>
        <a href="/logout" type="button" class="logout"> Log out</a>
    </div>
</body>
</html>